body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#carrinho-page {
    background-color: white;
}

ul, h1, h2, div, p{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

/* ================== ENVOLTÓRIO DO CABEÇALHO ================== */
.container-to-grid {
    width:100%;
    padding: 25px 0; 
}

.container-to-grid .top-bar {
    max-width:62.5em;
    margin:0 auto;
}

.logo-tavago, .top-bar-section {
    display: inline-block;
    vertical-align: center;
}

.top-bar .a, .top-bar .ul {
    text-decoration: none;
}

ul.options {
    list-style-type: none;
}

.top-bar-section {
    float: right;
}

.logo-tavago {
    height: 30px;
    width: 150px;
}

/* ================== ENVOLTÓRIO DO CONTEÚDO PRINCIPAL DO CARRINHO ================== */
.main-content, .home-content, .cart-room, .cart-summary {
    margin: 0;
    padding: 0;
}

.main-content {
    width: 90%;
    margin: 30px auto;
    opacity: 1;
}

.cart-name {
    margin: 20px 0px 0px 20px;
}

.cart-wrap {
    display: flex;
    flex-direction: row;
}

.empty-cart {
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.empty-cart p {
    margin: 100px 0;
    font-size: 30px;
}

    /* ------------------ BASQUET-ROOM ------------------ */
    .cart-room {
        flex: 3;
        height: 100%;
        width: 100%;
        margin: 20px 10px 0 20px;
    }

        /* ------------------ TABLE ------------------ */
        table, th, td, select, a {
            margin: 0;
            padding: 0;
        }

        .room-items {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border-bottom: 1px solid #e9e9e9;
            font-size: 14px;
        }

        tr {
            display: flex;
        }

        th.description-collumn, td.description-collumn{
            flex: 2;
        }

        th.quantity-collumn, td.quantity-collumn{
            flex: 1;
        }

        th.value-collumn, td.value-collumn{
            flex: 1;
        }

        .description-collumn, .quantity-collumn, .value-collumn, .delete-collumn {
            text-align: center;
        }

        .delete-checkbox, .room, .total-price-room {
            padding: 20px 0;
        }

        .room-quantity {
            margin: 15px 0;   
        }

    /* ------------------ BASQUET-SUMMARY ------------------ */
    .cart-summary{
        flex: 1;
        height: 100%;
        width: 100%;
        background-color: whitesmoke;
        opacity: 1;
        margin: 0 20px 0 10px;
        text-align: center;
    }

    .total-price p, .total-price h3 {
        margin: 15px 0;
        font-size: 20px;
        min-width: 200px;
    }

    .confirm {
        padding: 14px 20px;
        margin-bottom: 15px;
    }

    a.complete-purchase:hover, a.delete-accommodation:hover, a.update-price:hover {
        text-decoration: none;
        color: white;
    }

    .complete-purchase {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .complete-purchase:hover {
        background-color: #45a049;
    }
    
    .update-buttons {
        position: relative;
    }
    
    .delete, .update {
        margin-top: 30px;
        display: inline-block;
    }
    
    .update {
        position: absolute;
        right: 0px;
    }

    .delete-accommodation, .update-price {
        color: black;
        padding: 14px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }

    .delete-accommodation:hover {
        background-color: #820A00;
    }
    
    .update-price:hover {
        background-color: #4CAF50;
    }
    
    input[type=submit] {
        width: inherit;
        background-color: whitesmoke;
        color: black;
        padding: 14px 20px;
        margin: 8px 0 0 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        
    }

    input[type=submit]:hover {
        background-color: red;
    }