/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/11/2018, 15:17:36
    Author     : Guilherme
*/

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* ================== ENVOLTÓRIO DO CABEÇALHO ================== */
.top-bar {
    background-color: #45a049;
    overflow: hidden;
    padding: 2%;
}

.logo-tavago, .top-bar-section {
    display: inline-block;
    vertical-align: center;
}

.top-bar .a, .top-bar .ul {
    text-decoration: none;
}

ul.options {
    list-style-type: none;
}

.top-bar-section {
    float: right;
}

.logo-tavago {
    height: 30px;
    width: 150px;
}

.header-welcome {
    text-align: center;
    margin: 100px 0;
    color: white;
}

.header-welcome h1 {
    font-size: 50px;
}

/* ----------------------- FORMULÁRIO ----------------------- */
    .formulario-pagamento {
        background-color: white;
        padding: 10px;
        opacity: 0.9;
    }

    .formulario-pagamento label {
        font-size: 12px;
        color: #FF7719;
        text-transform: uppercase;
    }

    .formulario-pagamento .destino, .formulario-pagamento .datas, .formulario-pagamento .datas .entrada, .formulario-pagamento .datas .saida, .formulario-pagamento .quantidade {
        display: inline-block;
        vertical-align: top;
    }

    input[type=text] {
        max-width: 700px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: inherit;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0 0 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }
    
    .form-pagamento{
        text-align: center;
    }

    input.titular{
        width: 100%;
    }

    .descricao-pagamento{
        text-align: center;
    }
    
    h3{
        color: orange;
    }
    