/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2018, 8:02:42 PM
    Author     : felipecaggi
*/

/* ================== ENVOLTÓRIO DO CABEÇALHO ================== */
.container-to-grid {
    width:100%;
    padding: 25px 0; 
}

.container-to-grid .top-bar {
    max-width:62.5em;
    margin:0 auto;
}

.logo-tavago, .top-bar-section {
    display: inline-block;
    vertical-align: center;
}

.top-bar .a, .top-bar .ul {
    text-decoration: none;
}

ul.options {
    list-style-type: none;
}

.top-bar-section {
    float: right;
}

.logo-tavago {
    height: 30px;
    width: 150px;
}

.header-welcome {
    text-align: center;
    margin: 100px 0;
    /* 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    */
    color: white;
}

.header-welcome h1 {
    font-size: 50px;
}

/* ================== ENVOLTÓRIO DO CONTEÚDO PRINCIPAL DO RESULTADO ================== */
.result-mensage {
    width: 600px;
    margin: 0 auto;
    opacity: 0.8;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 10px;
}

.good-travel {
    color: green;
}

.error {
    color: red;
}